#map {
        height: 65vh;
        width: 100vw;
      }
      
#photo-section {
        height: 100%
}

#autocomplete {
    position: absolute;
    z-index: 99;
    margin-top: 10px;
    float: left;
    margin-left: 10px;
    font-size: 20px;
}

#controls2 {
    position: absolute;
    margin-left: 80vw;
    margin-top: 10px;
    z-index: 99;
    font-size: 24px;
}

#photo-row img{
    height:31.9vh;
    width:24.7273vw;
}

.photo-credits {
    text-overflow: clip;
    font-size: 12px;
}

body {
    background-color:#5cdae5;
}