#map {
    height: 65vh;
    width: 100vw;
}

#photo-section {
    height: 100%
}

#locationField {
    margin-left: 33%;
}

#autocomplete {
    position: relative;
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
}

#selecttype {
    border: none;
}

#info-section {
    display:none;
}

#photo-section0 {
    display: none;
}

.search-boxes {
    font-size: 15px;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    margin-top: 1px;
    margin-bottom: 32px;
}

.search-boxes p {
    margin-top: 3%;
    margin-bottom: 0px;
    text-align: center;
    font-weight: 700;
}

#controls2 {
    display: none;
    position: relative;
    font-size: 24px;
}

#photo-row img {
    height: 35vh;
    width: 24.7273vw;
}

#photo-section0 img {
    width: 100%;
    height: 60%;
    margin: auto;
}

#photoa0, #photoa1, #photoa2, #photoa3{
    display: none;
}


.photo-credits {
    text-overflow: clip;
    font-size: 12px;
}

body {
    background-color: #5cdae5;
}


img {
    border: 1px solid transparent;
}


#initialwindow {
    position: absolute;
    background: #5fdde8;
    margin-left: 16.5vw;
    margin-top: 20vh;
    padding: 40px;
    border-radius: 100px;
    color: #254088;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    #photo-row img {
        height: 35vh;
        width: 100%;
    }
    
    #map {
        height: 65vh;
        width: 100vw !important;
    }

    #controls2 {
        margin-left: 67vw;
    }

    #initialwindow {
        font-size: 1rem;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 700px) {
    #controls2 {
        margin-left: 3vw;
        margin-top: 7vh;
        font-size: 16px;
    }
    #initialwindow {
        font-size: 1rem;
        margin-left: 0px;
        margin-top: 44px;
    }
}
